*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --base: #FEFFF9;
    --orange: #FF8A56;
    --pink: #FF5E69;
    --lilac: #dfa9d7;
    --black: #161513;
    --base-font: #161513;
    --grey: #f5f5f5;
}

html {
    scroll-behavior: smooth;
}

body,input,textarea {

    font-family: "Encode Sans Condensed", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-style: normal;
    color: var(--base-font);
    

}

a {
    text-decoration: none;
    color: var(--black);

    &:hover {
        text-decoration: underline;
    }
}

h1 {
    display: block;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 54px;



    span {
        font-family: "Elsie", serif;
        font-weight: 400;
        font-size: 64px;
        line-height: 1;
        margin-bottom: 10px;
        background: -webkit-linear-gradient(#9e60d1, #b16cea, #ff5e69, #ffa845);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    @media(max-width:1024px) {
        font-size: 48px;
    }
}

h2 {
    font-size: 64px;
    font-family: "Elsie", serif;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    padding: 30px;

    small {
        display: block;
        font-weight: 100;
        font-size: 0.5em;
        font-family: "Encode Sans Condensed", sans-serif;
    }

    @media(max-width: 1024px) {
        font-size: 48px;
    }
}

h3 {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 20px;
    font-weight: 600;
}


.logo-img {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
}

/* NAVIGATIONM MENU */
header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    nav {

        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style-type: none;
            gap: 5px;
            margin-top: 20px;

            li {
                display: inline-block;

                a {
                    display: inline-block;
                    padding: 10px 20px;



                    &:hover {
                        background-color: var(--pink);
                        border-radius:15px;
                        text-decoration: none;
                        color: #FEFFF9;
                    }

                }
            }
        }

        .mobile-toggle {
            display: none;
            color: var(--black);
            padding: 10px;

            @media(max-width:768px) {

                display: inline-block;
                position: absolute;
                top: 10px;
                right: 20px;


            }
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;

        nav {
            margin-top: 10px;
            width: 100%;

            ul {
                display: none;
                flex-direction: column;
                text-align: center;
                width: 100%;

                a {
                    width: 50%;
                }

                &.active {
                    display: flex;
                }
            }
        }
    }
}

.container{
    max-width: 1440px;
    margin: auto;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 70px;

    @media(max-width:1440px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}



.button {
    display: inline-block;
    background-color: var(--black);
    color: #FEFFF9;
    padding: 10px 30px;
    border-radius: 15px;
    transition: ease 0.3s all;

    &:hover {
        text-decoration: none;
        background-image: linear-gradient(to right, #b16cea, #ff5e69, #ffa856, #ffa845);

    }

    &.white {
        background-color: white;
        color: var(--base);

        &:hover {
            color: var(--orange);
        }
    }

    &.black {
        background-color: black;
        color: white;

        &:hover {
            background-color: var(--pink);
            color: var(--base);
        }

    }

    @media(max-width:768px) {
        &:active {
            background-color: var(--pink);
        }
    }



}



/*HERO SECTION*/

.hero {
    display: flex;


    @media(max-width:1024px) {
        flex-direction: column;
    }

    .hero-blue {
        /* background-color: var(--lilac); */
        border-radius: 30px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;



        .call-to-action {
            margin-top: 20px;
            margin-bottom: 10px;

            a {

                margin-right: 10px;
                margin-bottom: 10px;

            }
        }

        span {
            @media(max-width:768px) {
                display: none;
            }
        }

        /* .social-icons {

            a {
                &:hover {
                    text-decoration: none;
                    color: var(--pink);
                }
            }
        } */

    }

    .hero-yellow {

        border-radius: 30px;
        flex: 1;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        /* align-items: flex-end; */



        img {
            padding-bottom: 10px;
            max-width: 320px;
            border-radius: 55px 25px 55px 25px;
        }



    }

}

.logos {
    background-color: var(--grey);
    border-radius: 30px;
    padding: 30px 0px;

    @media (max-width:1440px) {
        border-radius: 0px;

    }

    .marquee {
        width: 100vw;
        max-width: 100%;
        height: 128px;
        overflow: hidden;
        position: relative;

        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 40s linear infinite;
            display: flex;
            gap: 10px;
        }
    }

}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/*SKILLS CONTAINER*/
.skills {
    .holder-blue {
        display: flex;
        background-color: var(--grey);
        border-radius: 30px;
        padding: 30px;

        @media(max-width:1024px) {
            flex-direction: column;
        }

        .left-column {
            flex: 1;

            ul {
                list-style: none;
                gap: 10px;
                margin-right: 100px;
                margin-bottom: 20px;
            }

            li {
                display: inline-block;
                background-color: var(--pink);
                padding: 10px 20px;
                border-radius: 15px;
                margin-bottom: 15px;
            }

        }

        .right-column {
            flex: 1;

            p {
                margin-bottom: 20px;
            }
        }
    }
}
/* BENTO SECTION */
.bento {
    .bento-grid {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: 960px;


        @media(max-width:1024px) {
            grid-template-rows: repeat(8, 1fr);
        }

        @media(max-width:768px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
            height: auto;
        }

        .bento-item {
            border-radius: 15px;
            padding: 30px;
            background-color: var(--black);
            position: relative;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                object-fit: cover;
                transition: ease 3s all;
                border-radius: 15px;
            }

            &:hover {
                img {
                    transform: scale(1.2);
                }
            }

            @media(max-width:768px) {

                height: 240px;
            }

            &:nth-child(1) {
                grid-column: span 2;
                grid-row: span 2;

                @media (max-width:1024px) {
                    grid-column: span 2;
                    grid-row: span 2;
                }
            }

            &:nth-child(2) {
                grid-column: span 2;
                grid-row: span 1;

                @media (max-width:1024px) {
                    grid-column: span 3;
                    grid-row: span 2;
                }
            }

            &:nth-child(3) {
                grid-column: span 1;
                grid-row: span 1;

                @media (max-width:1024px) {
                    grid-column: span 3;
                    grid-row: span 2;
                }
            }

            &:nth-child(4) {
                grid-column: span 3;
                grid-row: span 2;

                @media (max-width:1024px) {
                    grid-column: span 2;
                    grid-row: span 4;
                }
            }

            &:nth-child(5) {
                grid-column: span 2;
                grid-row: span 1;

                @media (max-width:1024px) {
                    grid-column: span 3;
                    grid-row: span 2;
                }
            }

            &:nth-child(6) {
                grid-column: span 5;
                grid-row: span 3;

                @media (max-width:1024px) {
                    grid-column: span 5;
                    grid-row: span 4;
                }
            }

        }

    }

}

/* CONTACT FORM SECTION */

.contact-container{
        background-color:var(--grey); 
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 30px;
    
}
.contact-left{
    display: flex;
    flex-direction:column ;
    align-items: start;
    gap:20px;
}
.contact-left-title h2{
    color: var(--base-font);
    margin-bottom: 5px;
}

.contact-inputs{
    width:400px;
    height: 50px;
    border:none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color:#666;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border:2px solid var(--orange)
}
.contact-inputs::placeholder{
    color:#a9a9a9;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 20px;
    gap:10px;
    border:none;
    border-radius: 15px;
    cursor: pointer;
    background-color: var(--black);
    color: #FEFFF9;
    font-family: "Encode Sans Condensed", sans-serif;
    transition: ease 0.3s all;
    
        &:hover {
            text-decoration: none;
            background-image: linear-gradient(to right, #b16cea, #ff5e69, #ffa856, #ffa845);
    
        }
    
}

.contact-left button img{
    height:15px;
}

.contact-right{
    width: 500px;
    height: 500px;
}
@media(max-width:820px){
    .contact-container{
        height: 50vh;
    }
    .contact-inputs{
        width:80vw;
    }
    .contact-right{
        display: none;
    }
}


.social-icons {

    a {
        &:hover {
            text-decoration: none;
            color: var(--pink);
        }
    }
}


